* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #333;
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: rgb(247, 77, 120);
}
a:hover {
  text-decoration: none;
  color: rgb(255, 136, 166);
}
span.decor-text {
  font-size: smaller;
  color: antiquewhite;
  font-weight: 400;
}

nav ul {
  list-style: none;
}
.title {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.navbar {
  background-color: #000;
  color: rgb(223, 219, 219);
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding-left: 3rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.container {
  color: white;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.wrapper {
  max-width: 1200px;
}
.search {
  background: red;
  max-width: 500px;
  height: 3rem;
  font-size: 1.5rem;
  min-width: 400px;
  border: none;
  border-radius: 1.5rem;
  text-indent: 1.5rem;
}
.search:focus {
  outline: none;
}

.card {
  background: rgb(80, 80, 80);
  color: aliceblue;
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 1rem;
  display: flex;
}
.card-info {
  padding-left: 1rem;
  width: 250px;
}
.card-info > h1 {
  padding-bottom: 1rem;
}
.card-info-details {
  display: flex;
}
.card-info-details > p {
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.card-info-location,
.neighborhood {
  color: rgb(247, 77, 120);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.neighborhood:hover {
  color: rgb(255, 136, 166);
}
.card-info-location > span {
  margin: 0;
  padding: 0;
  padding-left: 0.25rem;
  font-size: 0.8rem;
}

.restaurant-page {
  margin: 1rem;
  margin-top: 100px;
  color: aliceblue;
}
.restaurant-page > h1 {
  font-size: 2.5rem;
}

.restaurant-page-address {
  margin-left: 1rem;
  font-size: 0.8rem;
}
.restaurant-review {
  margin-bottom: 1rem;
  padding: 1rem;
  background: rgb(80, 80, 80);
  border-radius: 1.5rem;
}
.restaurant-review-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.restaurant-review-header > h3 {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
}
.restaurant-review-header > img {
  border: 2px solid #000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.restaurant-review-stats {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
}
