* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #333;
  display: flex;
  justify-content: center;
  background-image: url(assets/background.png);


}
a {
  text-decoration: none;
}

span.decor-text {
  font-size: smaller;
  color: sandybrown;
  font-weight: 400;
}

nav ul {
  list-style: none;
}
nav ul a {
  color: rgb(206, 232, 255);
}
nav ul a:hover {
  color: #fff;
  cursor: pointer;
}
span#title {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #fff;
  text-decoration: none;
}

.navbar {
  background-color: #000;
  color: rgb(223, 219, 219);
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding-left: 3rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.container {
  color: white;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.wrapper {
  max-width: 1200px;
}

/* search */

.searchbar {
  margin-top: 120px;
  text-align: center;
  display: flex;
  place-content: center;
  position: relative;
  border-radius: 0 0 1.5rem 1.5rem;
}

.search-location-details {
  padding-left: 2rem;
  padding-right: 2rem;
}

.search {
  width: 85%;
  height: 3rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 1.5rem ;
  text-indent: 1.5rem;
  background: rgb(66, 66, 66, 0.8);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
  color: rgb(223, 219, 219);
}

.search-active {
  border-radius: 1.5rem 1.5rem 0 0;
}

.search-location-details {
  position: aboslute;
  left: 0;
  right: 0;
  width: 100%;
}
.search-location-details {
  /* background: rgb(66, 66, 66, 0.8); */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
  color: rgb(223, 219, 219);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0.1rem;
  border-radius:  0 0 1.5rem 1.5rem;
  position: relative;
}
.search-location-details::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left:0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.search-overlay {
  position: absolute;
  margin-top: 50px;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 85%;
  display: none;
  background-color: rgba(66, 66, 66,0.8);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
  border-radius:  0 0 1.5rem 1.5rem;
  z-index: 10;
}

.search-overlay-items {
  padding: 1rem;
  margin-top: 0;
  position: relative;
  z-index: 10;
  font-size: 20px;
  font-weight: bold;
  text-shadow: #000 2px 2px 2px;
  text-decoration: none;
  color: rgb(223, 219, 219);
}

.search-overlay-items::after {
  content: '';
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 1px;
  background-color: #000;
}
.search-overlay-items:hover,
.search-overlay-items:focus {
  background-color: rgba(0, 0, 0,0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
}
.active {
  display: block;
}
.search:focus {
  outline: none;
}

/* card */

.card {
  background: rgba(256, 256, 256, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  -moz-backdrop-filter: blur(2px);
  -o-backdrop-filter: blur(2px);
  -ms-backdrop-filter: blur(2px);
  color: aliceblue;
  border-radius: 1.5rem;
  margin: 1rem;
  display: flex;
  height: 150px;
  min-width: 350px;
}
.card-image-container {
  width: 33%;
}
.card-image {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem 0 0 1.5rem;
  object-fit: cover;
  opacity: 0.8;
}
.card-info {
  padding: 2rem;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-info-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 1rem;
}

.card-info-details {
  display: flex;
}
.card-info-details > p {
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.card-info-location,
.neighborhood {
  color: rgb(247, 77, 120);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.neighborhood:hover {
  color: rgb(255, 136, 166);
}
.card-info-location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.card-info-location > span {
  margin: 0;
  padding: 0;
  padding-left: 0.25rem;
  font-size: 0.8rem;

}

/* restaurant page */
.restaurant-page {
  margin: 1rem;
  margin-top: 120px;
  color: aliceblue;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(256, 256, 256, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  -moz-backdrop-filter: blur(2px);
  -o-backdrop-filter: blur(2px);
  -ms-backdrop-filter: blur(2px);
}
.restaurant-page-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: space-around;
  align-items: center;
}
.restaurant-page-info {
  padding-bottom: 1rem;
}
.restaurant-page-info > h1 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.restaurant-page-image {
  width: 40%;
  display: flex;
  opacity: 0.8;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}
.restaurant-page-image > img {
  width: 100%;
  height: 100%;

  border-radius: 1rem;
  object-fit: cover;
}

.restaurant-page-address {
  margin-left: 1rem;
  font-size: 0.8rem;
}
.restaurant-page-timings {
  margin-bottom: 5rem;
}
.restaurant-page-timings-day {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  width: 100%;
  color: seashell;
}
.restaurant-review {
  margin-bottom: 1rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  -moz-backdrop-filter: blur(2px);
  -o-backdrop-filter: blur(2px);
  -ms-backdrop-filter: blur(2px);
  border-radius: 1.5rem;
}
.restaurant-review-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.restaurant-review-header > h3 {
  margin: 0;
  padding: 0;
  margin-left: 1rem;
}
.restaurant-review-header > img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.restaurant-review-stats {
  display: flex;
  justify-content: space-between;
}
.restaurant-review-stars-inactive {
  opacity: 0.3;
}
.restaurant-review-date {
  padding-left: 1rem;
  color: sandybrown;
}

@media screen and (max-width: 990px) {
  .restaurant-page-image {
    width: 100%;
  }
  
}